@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-bold.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-bold.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-bold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-bold.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-bold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-bold.svg#avenirnextcyr-bold') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-bolditalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-bolditalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-bolditalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-bolditalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-bolditalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-bolditalic.svg#avenirnextcyr-bolditalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-demi.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-demi.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-demi.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-demi.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-demi.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-demi.svg#avenirnextcyr-demi') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 600;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-demiitalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-demiitalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-demiitalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-demiitalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-demiitalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-demiitalic.svg#avenirnextcyr-demiitalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-heavy.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-heavy.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-heavy.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-heavy.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-heavy.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-heavy.svg#avenirnextcyr-heavy') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 800;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-heavyitalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-heavyitalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-heavyitalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-heavyitalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-heavyitalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-heavyitalic.svg#avenirnextcyr-heavyitalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-italic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-italic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-italic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-italic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-italic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-italic.svg#avenirnextcyr-italic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-light.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-light.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-light.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-light.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-light.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-light.svg#avenirnextcyr-light') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-lightitalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-lightitalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-lightitalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-lightitalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-lightitalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-lightitalic.svg#avenirnextcyr-lightitalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-medium.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-medium.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-medium.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-medium.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-mediumitalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-mediumitalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-mediumitalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-mediumitalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-mediumitalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-mediumitalic.svg#avenirnextcyr-mediumitalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-regular.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-regular.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-thin.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-thin.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-thin.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-thin.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-thin.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-thin.svg#avenirnextcyr-thin') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-thinitalic.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-thinitalic.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-thinitalic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-thinitalic.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-thinitalic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-thinitalic.svg#avenirnextcyr-thinitalic') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-ultralight.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-ultralight.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-ultralight.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-ultralight.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-ultralight.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-ultralight.svg#avenirnextcyr-ultralight') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('avenirnextcyr-ultralightit.eot');
	/* IE 9 Compatibility Mode */
	src: url('avenirnextcyr-ultralightit.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('avenirnextcyr-ultralightit.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('avenirnextcyr-ultralightit.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('avenirnextcyr-ultralightit.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('avenirnextcyr-ultralightit.svg#avenirnextcyr-ultralightit') format('svg');
	/* Chrome < 4, Legacy iOS */
	font-weight: 200;
	font-style: italic;
}