/* .block {
    background: green;
     height: 100px;
} */

/* .block:nth-child(2) {
    background-color: red;
}

.block:nth-child(3) {
    background-color: purple;
}

.block:nth-child(4) {
    background-color: orange;
}

.block:nth-child(5) {
    background-color: blue;
} */

/* .container { */
/* display: grid; */
/* grid-template-columns: 1fr 2fr 1fr; */
/* grid-template-columns: 25% 50%; */
/* grid-template-rows: 200px 100px; */
/* grid-auto-columns: 100px; */
/* grid-auto-rows: 100px; */
/* grid-auto-flow: dense; */
/* } */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.site {
    display: grid;
    height: 100vh;
    grid-template-columns: 104px auto;
    grid-template-rows: 72px auto;
    grid-template-areas:
        'sidebar header'
        'sidebar content'

    ;
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 20px; */
    /* grid-gap: 0 20px; */
    /* justify-items: stretch; */
    /* align-items: stretch; */
    /* justify-content: space-between; */
    /* align-content: space-around; */
    /* height: 1000px;
    background-color: #ddcacd; */
}

.header {
    grid-area: header;
    background-color: #ffffff;
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    width: 440px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding: 10px 8px;
    border: 1.5px solid #ADB5BD;
    background-image: url(images/Union.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: 102px;
}

.nav>* {
    margin: 0 5px;
}

.content {
    grid-area: content;
    background-color: #E5E5E5;
    padding: 24px 32px;
    display: flex;
}

.sidebar {
    grid-area: sidebar;
    background-color: #17139C;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 40px;
}

.sb_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 100%;
    transition: 0.3s;
}

.sb_btn:hover {
    background-color: #DD3E3E;
}

.sb_btn img {
    margin-bottom: 6px;
}

.sb_btn span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

.transfers {
    display: flex;
    flex-direction: column;
    margin-right: 26px;
}

.transfers>span {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 8px;
}

.transfers>.block {
    height: 544px;
    width: 568px;
    background-color: #fff;
    padding: 16px;
}

.transfers>.block .trans_header {
    margin-bottom: 26px;
}

.transfers>.block .trans_header>a>span {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #17139C;
    margin-right: 16px;
    transition: 0.05s;
}

.transfers>.block .trans_header>a>span:hover {
    border-bottom: 2px solid #DD3E3E;
}

.th_btn_active {
    border-bottom: 2px solid #DD3E3E;
}

.transfers .trans_main, .transfers .trans_main .trans_row {
    display: flex;
    flex-direction: column;
}

.transfers .trans_main .trans_row {
    margin-bottom: 16px;
}

.transfers .trans_main .trans_row span {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 8px;
}

.trans_main .trans_row .select {
    background: url(images/VISA.png);
    background-position: 8px, center;
    background-repeat: no-repeat;
    padding-left: 43px;
    border: 1.5px solid #ADB5BD;
    width: 432px;
    height: 32px;

}

.trans_main .trans_row .field {
    border: 1.5px solid #ADB5BD;
    width: 432px;
    height: 32px;
    padding-left: 7.71px;
}