* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 400;
}

h1, h3, h4 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 500;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #333333;
}

.offset {
    max-width: 1160px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    width: 350px;
    height: 73px;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.155em;
    padding: 0 29px;

}

.background {
    background: linear-gradient(197.92deg, rgba(239, 128, 49, 0) -227.37%, rgba(239, 128, 49, 0.15) 1.58%, rgba(239, 128, 49, 0) 103.02%);
    background-size: 100% 100%;
    padding-top: 55px;
    max-width: 1440px;
    margin: 0 auto;
}

header nav {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 500;
}

header .nav_btn {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    color: white;
    line-height: 20px;
    padding: 10px 15px;
    border-radius: 3px;
}

.nav_link {
    font-size: 20px;
    line-height: 30px;
    margin-right: 48px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 183px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero div h1 {
    margin: -16px 0;
    font-size: 48px;
    line-height: 55px;
    position: relative;
}

.hero div h1 img {
    position: absolute;
    left: 180px;
    top: -30px;
}

.hero div>img {
    position: absolute;
    left: -139px;
    bottom: 149px;
}

.hero div p {
    font-family: "AvenirNextCyr";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    max-width: 480px;

}

.hero>img {
    margin-bottom: 140px;
}

.section_two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
}

.section_two .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.section_two .content p {
    max-width: 412px;
}

.section_two .content h4 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    color: #F3B562;
    position: relative;
}

.section_two .content h4 img {
    position: absolute;
    top: -40px;
    right: -222px;
}

.section_two .content h3 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 41px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    margin-top: 5px;
    color: #647B64;
}

.section_two .menu>div {
    display: flex;
    justify-content: space-between;
}

.section_two .menu {
    align-self: flex-end;
}

.section_two .menu .block {
    height: 237px;
    width: 288px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.section_two .menu .block .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background: #fff;

}

.section_two .menu .block h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;

}

.section_two .menu .block p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;

}

.section_two .menu .block_hovered {
    height: 237px;
    width: 288px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    padding: 20px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.section_two .menu .block_hovered .frame_hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background: #647B64;

}

.section_two .menu p {
    max-width: 221px;
}

.section_three .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.section_three .title .t1 {
    font-family: 'AvenirNextCyr500';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 17px;
    color: #F3B562;
}

.section_three .title .t2 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 41px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 56px;
    color: #647B64;
}

.section_three .blocks .p1 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.section_three .blocks .p2 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.section_three .blocks .block {
    width: 360px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 50px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    position: relative;
    min-width: 260px;
}

.section_three .blocks {
    display: flex;
    justify-content: space-between;
}

.section_three .blocks .blockg {
    width: 360px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 50px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #647B64;
    min-width: 260px;
}

.section_three .blocks .block .dots {
    position: absolute;
    left: -34px;
    bottom: -40px;
    z-index: -1;
}

.section_three .blocks .block .bg {
    position: absolute;
    left: 160px;
    bottom: -47px;
    z-index: -1;
}

.section_four .content {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    align-items: center;
}

.section_four .content .photos {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section_four .content .photos .s4_square {
    position: absolute;
    left: 77px;
    top: 44px;
    z-index: -1;
}

.section_four .content .s4_right .t1 {
    font-family: "AvenirNextCyr";
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    color: #F3B562;
    margin-block-end: 0px;
}

.section_four .content .s4_right .t2 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 41px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    color: #647B64;
    margin-block-start: 17px;
    margin-block-end: 24px;
}

.section_four .content .s4_right .p1 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    max-width: 410px;
    margin-block-start: 0px;
    margin-block-end: 40px;
}

.section_five {
    margin-top: 145px;
}

.section_five .s5_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section_five .s5_head .titles .t1 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 17px;
    color: #F3B562;
}

.section_five .s5_head .titles .t2 {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-size: 41px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #647B64;
}

.section_five .s5_head .arrows {
    display: flex;
}

.section_five .s5_head .arrows .right_arrow {
    background: linear-gradient(102.3deg, #647B64 -4.62%, #6ADD6A 178.22%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.section_five .s5_head .arrows .left_arrow {
    background: #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.gallery {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}

.gallery_item {
    height: 420px;
    width: 360px;
    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 32px;
    border-radius: 15px;
}

.gallery_item .main_part {
    display: flex;

}

.gallery_item .t1 {
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-block-end: 0;
}

.gallery_item .p1 {
    font-family: 'AvenirNextCyr';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.04em;
    margin-block-start: 5px;
}

.gallery_item .p2 {
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
}

.gallery_item .main_part img {
    width: 159px;
    height: 268px;
}

.footer_bg {
    background-color: #F0DCC5;
    padding: 100px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer .t1 {
    font-family: "AvenirNextCyr";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #647B64;
}

.footer p {
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.footer .social p {
    max-width: 250px;
    font-family: 'AvenirNextCyr';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.footer_msg textarea {
    width: 283px;
    height: 113px;
    padding: 12px 24px;
    resize: none;
    outline: none;
}

.footer_msg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer button {
    border: none;
    width: 283px;
    height: 56px;
}